<nav class="navbar navbar-expand-sm bg-body-tertiary sticky-top" data-bs-theme="dark">
  <div class="container-fluid">
	<a class="navbar-brand icon-link" [routerLink]="['']">
		Caleb Gulledge
    <img src="elkadri-token.png" alt="Elkadri Token" width="30" height="30" class="d-inline-block align-text-top ms-2">
	</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['projects']">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['about']">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['contact']">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

