<div class="main-container">
	<div class="container-fluid vh-100 d-flex align-items-center">
		<div class="row w-100 justify-content-center align-items-center">
			<div class="col-auto text-center">
				<h1>{{unityGameInfo?.title}}</h1>
			</div>
			<div class="col-auto">
				<!-- unity-embedded.component.html -->	
				<div class="phone-stage">
					<div class="phone">
						<canvas #canvas id="unity-canvas" tabindex="0" class="phone-screen"></canvas>
					</div>
				</div>
			</div>
			<div class="col-auto text-center">
				<h1>Github Link</h1>
			</div>
		</div>
	</div>
</div>