<div class="main-container">
  <div class="px-4 py-5 text-center home-container">
	
	<div class="row">
		<div class="col">
			<img
				class="d-block mx-auto mb-4"
				src="profile-picture.png"
				alt="ProfilePicture"
				width="200"
				height="200"
				style="border-radius: 100px;"
			/> 
			<h1>Caleb Gulledge</h1>
		</div>
		
	</div>

	<div class="row">
		<div class="col">
			<main class="px-3">
				<p class="lead">
				Welcome! I'm excited to share my work and journey with you. 
				</p>
			</main>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col">
			<main class="px-3">
				<p class="lead">Thank you for visiting my portfolio—I'm eager to connect and explore new opportunities together.</p>
			</main>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<main class="px-3">
				<p class="lead">
				<a [routerLink]="['projects']" class="btn btn-lg btn-light fw-bold border-white bg-white" style="text-shadow: none;"
					>View Projects</a
				>
				</p>
			</main>
		</div>
	</div>

</div>
