<div class="main-container" data-bs-theme="dark">
  <div class="hero">
    <div class="col-md-8 mx-auto my-5 text-center">
      <h1 class="fw-bold hero-title">{{ project?.title }}</h1>
      <h3 class="fw-normal text-muted mb-3">
        {{ project?.shortDescription }}
      </h3>

      <div *ngIf="project?.highlights as highlights" class="mb-3">
        <h3 class="fw-bold">Highlights:</h3>
        <span
          *ngFor="let highlight of highlights; let isLast = last"
          class="badge bg-secondary mb-2 mx-1"
          >{{ highlight }}<span *ngIf="!isLast">,</span></span
        >
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
        <a
          class="icon-link"
          href="{{ unityGameInfo?.githubUrl }}"
          *ngIf="unityGameInfo?.githubUrl"
        >
          Github Repo
          <svg class="bi" aria-hidden="true">
            <use xlink:href="#chevron-right"></use>
          </svg>
        </a>
        <a
          class="icon-link"
          [routerLink]="['/demo', project?.id]"
          *ngIf="project?.demo"
        >
          Try the Demo
          <svg class="bi" aria-hidden="true">
            <use xlink:href="#chevron-right"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div
      class="product-device product-device-2 shadow-sm d-none d-md-block"
    ></div>
  </div>

  <div class="container py-4" *ngIf="project?.features as feats">
	<div class="text-center display-3 fw-bold mb-4">Features</div>
  <div *ngFor="let _ of feats; let i = index">
    <div class="row g-4 mb-4" *ngIf="i % 2 === 0">
      <!-- Left -->
      <div class="col-md-6 d-flex" [class.offset-md-3]="!feats[i + 1]">
        <div class="bg-dark text-white text-center overflow-hidden w-100 h-100 p-3 p-md-5 rounded-3">
          <div class="my-3">
            <h2 class="h3 mb-2">{{ feats[i].name }}</h2>
            <p class="lead mb-0">{{ feats[i].description }}</p>
          </div>
          <div class="bg-body-tertiary shadow-sm mx-auto mt-auto"
               style="width:80%;height:300px;border-radius:21px 21px 0 0;">
			<img [src]="feats[i].icon || 'elkadri-token.png'" class="img-fluid" alt="{{feats[i].name}}" 
			style="height: 100%; width: 100%; object-fit: contain;border-radius:21px 21px 0 0;">
			</div>
        </div>
      </div>

      <!-- Right (only if exists) -->
      <div class="col-md-6 d-flex" *ngIf="feats[i + 1];">
        <div class="bg-dark text-white text-center overflow-hidden w-100 h-100 p-3 p-md-5 rounded-3">
          <div class="my-3">
            <h2 class="h3 mb-2">{{ feats[i + 1].name }}</h2>
            <p class="lead mb-0">{{ feats[i + 1].description }}</p>
          </div>
          <div class="bg-body-tertiary shadow-sm mx-auto mt-auto"
               style="width:80%;height:300px;border-radius:21px 21px 0 0;">
			<img [src]="feats[i + 1].icon || 'elkadri-token.png'" class="img-fluid" alt="{{feats[i + 1].name}}" 
			style="height: 100%; width: 100%; object-fit: contain; border-radius:21px 21px 0 0;">
			</div>
        </div>
      </div>
    </div>
  </div>
</div>

<main class="text-start">
	<div *ngIf="project?.documentations" class="bd-cheatsheet container-fluid">
		<div class="text-center display-3 fw-bold mb-4 mt-4">Project Story</div>
	</div>

	<div *ngFor="let doc of project?.documentations" class="bd-cheatsheet container-fluid">
		<div id="doc-{{doc.step}}">
			<h2 class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3 text-center">{{doc.step}}. {{doc.title}}</h2>
			<div class="row mb-4">
        <div class="col-md-6" [class.offset-md-3]="!doc.imageUrl">
          <p *ngFor="let desc of doc.description">{{ desc }}</p>
        </div>

        <div class="col-md-6" *ngIf="doc.imageUrl">
          <img [src]="doc.imageUrl" class="img-fluid"
              [alt]="doc.title"
              style="height:100%;width:100%;object-fit:contain;">
        </div>
      </div>
		</div>
	</div>
</main>




</div>
